{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Log Out" %}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'accounts/logout.css' %}">
{% endblock %}
{% block content %}
<div class="wrapper">

  <div class="mb-3">
  {% if messages %}
      <ul class="list-group">
          {% for message in messages %}
          <li class="list-group-item list-group-item-info">{{message}}</li>
          {% endfor %}
      </ul>
  {% endif %}
  </div>

  <div class="card">
    <div class="card-body">
      <h1>{% trans "Sign Out" %}</h1>
  
      <p>{% trans 'Are you sure you want to Log Out?' %}</p>
      <hr>
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit" class="btn btn-info">{% trans 'Log Out' %}</button>
      </form>
    </div>
  </div>
  
</div>



{% endblock %}
