{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'users/show_profile.css' %}">
<style>
.profile-wrapper{
  width: 90%;
  margin: 20px auto;
}
.dev-actions{
  float: right;
}
.dev-actions > .list-inline-item{
  cursor: pointer;
}
.list-group-item{
  padding: 0;
}
.list-group-item > a{
  display: block;
  box-sizing: border-box;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}
.list-group-item > a:hover{
  background: #eee;
}
.list-group-item > a > span{
  float: right;
}
</style>
{% endblock %}
{% block content %}
  {% if not message %}
    <div class="profile-wrapper">

      <div class="card mb-4">
        <div class="card-body">
          <ul class="list-inline dev-actions">
            <li class="list-inline-item">Connected</li>
            <li class="list-inline-item">Break Connection</li>
          </ul>
          <h5 class="card-title"><i class="fas fa-house-user mr-2"></i>{{profile.user.username}}</h5>
          <ul class="list-inline">
            {% for interest in profile.interests %}
              <li class="list-inline-item">#{{interest}}</li>  
            {% endfor %}
          </ul>
          <hr>
          <p class="card-text">{{profile.bio}}</p>
        </div>
      </div>

      <h5>Statistics of {{profile.user.username}} account</h5>
      <hr>
      <ul class="list-group mb-2">
        <li class="list-group-item">
          <a href="/users/devs_connected/">
            Devs Connected
            <span class="badge badge-info">{{ profile.devs_connected|length }}</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="/projects/projects_completed/{{user.id}}/">
          Projects Completed
          <span class="badge badge-info">{{ profile.projects_completed|length }}</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="/projects/projects_created/{{user.id}}/">
          Projects Created
          <span class="badge badge-info">{{ profile.projects_created|length }}</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="/projects/show_user_working_projects/{{user.id}}/">
          Projects Working
          <span class="badge badge-info">{{ profile.projects_working|length }}</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="/projects/show_user_bookmarked_projects/{{user.id}}/">
          Bookmarked Projects
          <span class="badge badge-info">{{ profile.projects_bookmarked|length }}</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="/resources/resources_added/{{user.id}}/">
          Resources Uploaded
          <span class="badge badge-info">{{ profile.resources_added|length }}</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="/resources/show_user_resources_bookmarked/{{user.id}}/">
          Bookmarked Resources
          <span class="badge badge-info">{{ profile.resources_bookmarked|length }}</span>
          </a>
        </li>
      </ul>
    </div>
  {% else %}
    <div class="card">
      <div class="card-body">
        {{message}}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block script %}
  <script src="{% static 'users/show_profile.js' %}"></script>
{% endblock %}